<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> <link rel ="stylesheet" type="text/css" href="../stylesheet.css" title="style">
	<title>The MagicDraw Web Publisher</title>
</head>
<body>
	<h4>Components</h4>
<div>
		<div class="frameitem"><a href="../component/_12_5_1ea00f4_1194618455620_612_990.html" target="classframe"><img src="../index_files/icon_component_1928900108.jpg" alt="component" align="middle" width="16" height="16"></a>&nbsp;<a href="../component/_12_5_1ea00f4_1194618455620_612_990.html" target="classframe">
	  		 Accounting
	  	  </a></div>
		<div class="frameitem"><a href="../component/_12_5_2aa0154_1234506944986_491752_1067.html" target="classframe"><img src="../index_files/icon_component_1928900108.jpg" alt="component" align="middle" width="16" height="16"></a>&nbsp;<a href="../component/_12_5_2aa0154_1234506944986_491752_1067.html" target="classframe">
	  		 AccountingPersistenceUnit
	  	  </a></div>
		<div class="frameitem"><a href="../component/_12_5_2aa0154_1204190659953_89586_781.html" target="classframe"><img src="../index_files/icon_component_1928900108.jpg" alt="component" align="middle" width="16" height="16"></a>&nbsp;<a href="../component/_12_5_2aa0154_1204190659953_89586_781.html" target="classframe">
	  		 SCHUFA
	  	  </a></div>
		<div class="frameitem"><a href="../component/_12_5_2aa0154_1204190411796_357260_687.html" target="classframe"><img src="../index_files/icon_component_1928900108.jpg" alt="component" align="middle" width="16" height="16"></a>&nbsp;<a href="../component/_12_5_2aa0154_1204190411796_357260_687.html" target="classframe">
	  		 SWIFTAccounting
	  	  </a></div>
		</div>
</body>
</html>